<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Trabajo 1</h2> - <h3>(2020   ---)</h3>
            </li>
            <p>
                Administrativa/MC3 Indumentaria Deportiva - Responsable en el área de Atención al cliente y Ventas, así como en el área de administración.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 2</h2> - <h3>(2008-2019)</h3>
            </li>
            <p>
                Administrativa/ Data Entry/ Iron Mountain Argentina - Responsable de administración de documentos, Data Entry, manejo e ingreso de legajos al sistema, control de procesos de digitalización y virtualización de documentos que son activos de distintas empresas pertenecientes a la cartera de clientes de Iron Mountain. 

            </p>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 3</h2> - <h3>(2019-2019 / 2015-2015 )</h3>
            </li>
            <p>
                Escrutinio provisorio y definitivo de las actas electorales en los comicios presidenciales Argentina/ Ministerio del Interior - Responsable de analizar y recibir las actas electorales, catalogarlas y darles el visto bueno o rechazarlas con el fin de agilizar el proceso electoral de manera virtual y organizada.
                
            </p>
        </ul>
    </div>

</div>
