.row{
    padding: 200px;
}
div{
    background-color: #1096f5;
    text-align: center;
}


/*Estilo de la foto de perfil*/
@media(min-width:576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(133, 146, 157);
        left: 3%;
        top: 600px;
    }
}
@media(max-width:575px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(133, 146, 157);
        left: 33%;
        top: 600px;
    }
}
/*etiqueta Nom*/
#nom{
    font-weight: bold;
    margin-top: 30%;
    font-size: 25px;
}
