<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Estudio 1</h2> - <h3>(2021-2022)</h3>
            </li>
            <p> Argentina Programa: Curso intensivo de programación, adquisición de herramientas profesionales que permiten hacer cosas que ayuden a solucionar necesidades de cualquier disciplina, o rubro</p>
        </ul>
        <ul>
            <li>
                <h2>Estudio 2</h2> - <h3>(2020-2022)</h3>
            </li>
            <p>
               CUI: Curso de Ingles Básico nivel 1 - 2- 3 - 4
            </p>
        </ul>
        <ul>
            <li>
                <h2>Estudio 3</h2> - <h3>(2019-2019  2015-2015 )</h3>
            </li>
            <p>UNIVERSIDAD PEDAGOGICA NACIONAL MONTERRICO: Licenciada en Educación Secundaria en el área de Ciencias Históricos Sociales.</p>
        </ul>
    </div>

</div>
