<div class="row">
    <h2>Hard & Soft Skill</h2>
<div class=" text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="90"
        [radius]="100"

        [imageSrc]="'../assets/logohtml5.png'"
        [showImage]="true"
        [imageHeight]="50"
        [imageWidth]="50"

        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#187498'"
        [innerStrokeColor]="'#EB5353'"
        [animation]="true"
        [animationDuration]="700"
       
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="100"

    [imageSrc]="'../assets/logodecss.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"

    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#187498'"
    [innerStrokeColor]="'#EB5353'"
    [animation]="true"
    [animationDuration]="700"
       
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="100"

    [imageSrc]="'../assets/logodejs.jpg'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"

    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#187498'"
    [innerStrokeColor]="'#EB5353'"
    [animation]="true"
    [animationDuration]="700"
       
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="100"

    [imageSrc]="'../assets/logodesql_t.jpg'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"

    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#187498'"
    [innerStrokeColor]="'#EB5353'"
    [animation]="true"
    [animationDuration]="700"
       
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="100"

    [imageSrc]="'../assets/logodetrabajoenequipo.jpg'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"

    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#187498'"
    [innerStrokeColor]="'#EB5353'"
    [animation]="true"
    [animationDuration]="700"
       
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="100"

    [imageSrc]="'../assets/logoderesponsabilidad.png'"
    [showImage]="true"
    [imageHeight]="50"
    [imageWidth]="50"

    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#187498'"
    [innerStrokeColor]="'#EB5353'"
    [animation]="true"
    [animationDuration]="700"
       
></circle-progress>
</div>


</div>
